erl_crash.dump
.sw?
.*.sw?
/deps
/_build
/_checkouts
/doc/*
!/doc/_head.html
!/doc/khepri-favicon.svg
!/doc/khepri-logo.svg
!/doc/overview.edoc
!/doc/stylesheet.css
/mix.lock
/nonode@nohost/

/user.bazelrc
/bazel-*
