%% vim:ft=erlang:
{minimum_otp_vsn, "23.0"}.

{deps, [{ra, {git, "https://github.com/rabbitmq/ra.git",
              %% The Ra version pinning must be updated in mix.exs too.
              {ref, "1411b269e167e48aeb882911956291318806b3c3"}}}]}.

{erl_opts, [debug_info,
            warnings_as_errors]}.

{dialyzer, [{plt_extra_apps, [eunit, edoc, xmerl]},
            {warnings, [race_conditions,
                        underspecs,
                        unknown,
                        unmatched_returns]}]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.

{edoc_opts, [{preprocess, true},
             {includes, ["."]},
             {sort_functions, false},
             {stylesheet, "github-markdown.css"},
             {layout, khepri_edoc_wrapper},
             {doclet, khepri_edoc_wrapper},
             {xml_export, khepri_edoc_export}]}.

{alias, [{check, [xref,
                  {eunit, "-c"},
                  {cover, "-v --min_coverage=75"},
                  dialyzer,
                  edoc]}]}.
