name: Test

on:
  - pull_request
  - push

jobs:
  Test:
    name: Test on Erlang/OTP ${{ matrix.otp_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        otp_version: [23, 24, 25]
        os: [ubuntu-latest, windows-latest]

    env:
      RUN_DIALYZER_ON_OTP_RELEASE: 25

    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        id: install-erlang
        with:
          otp-version: ${{matrix.otp_version}}
          rebar3-version: '3.18.0'

      - name: Restore Dialyzer PLT files from cache
        uses: actions/cache@v2
        if: ${{ matrix.otp_version == env.RUN_DIALYZER_ON_OTP_RELEASE && matrix.os == 'ubuntu-latest' }}
        with:
          path: _build/*/rebar3_*_plt
          key: dialyzer-plt-cache-${{ steps.install-erlang.outputs.otp-version }}-${{ runner.os }}-${{ hashFiles('rebar.config*') }}-v1

      - name: Compile
        run: rebar3 compile

      - name: Xref
        run: rebar3 xref
      - name: EUnit
        run: rebar3 eunit --verbose --cover
      - name: PropEr
        run: rebar3 proper --verbose --cover

      - name: Dialyzer
        if: ${{ matrix.otp_version == env.RUN_DIALYZER_ON_OTP_RELEASE && matrix.os == 'ubuntu-latest' }}
        run: rebar3 clean && rebar3 as test dialyzer

      - name: Generate code coverage report
        run: rebar3 as test covertool generate

      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: _build/test/covertool/khepri.covertool.xml
          flags: erlang:${{ matrix.otp_version }},os:${{ matrix.os }}
          name: Erlang/OTP ${{ matrix.otp_version }} on ${{ matrix.os }}
          verbose: true # optional (default = false)
